.ticker { 
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;

  &:hover {
    cursor: default;
  }

  &_rise {
    border: 1px solid #26e07f;
  }

  &_fall {
    border: 1px solid #fa314a;
  }
  
  &_content {
    display: flex;
    justify-content: space-between;
  }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_name {
    font-weight: 600;
  }

  &_change__abs {
    margin-right: 5px;
  }

  &_last-update-time {
    font-size: 0.8em;
    color: rgb(155, 155, 155);
  }

  &_arrow-wrap {
    align-self: center;
  }

  &_arrow__up {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/up_arrow.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_arrow__down {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/down_arrow.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_close-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../../assets/icons/close.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -3px;
    right: -3px;

    &:hover {
      cursor: pointer;
    }
  }
}

.hide {
  animation-name: hideElem;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideElem {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}