.ticker-wrap { 
  margin-bottom: 15px;
  perspective: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.flipped > .ticker{ 
    transform: rotateY(180deg);
  }
}

.ticker {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;

  &_frontside,
  &_backside {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &_frontside {
    box-sizing: border-box;
    padding: 5px 10px;
    padding-right: 5px;
    border-radius: 5px;
  }

  &_backside {
    transform: rotateY(180deg);
    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e7e7e7;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;

    &-name {
      position: absolute;
      top: 50%; 
      right: 50%;
      transform: translate(50%,-50%);
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 700;
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 10px 6px rgba(16,16,16,0.4),
        1px 11px 10px rgba(16,16,16,0.2),
        1px 12px 35px rgba(16,16,16,0.2),
        1px 16px 60px rgba(16,16,16,0.4);
    }
  }

  &:hover {
    cursor: default;
  }

  &_rise {
    border: 1px solid #26e07f;
  }

  &_fall {
    border: 1px solid #fa314a;
  }
  
  &_front-content {
    display: flex;
    justify-content: space-between;
  }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_name {
    font-weight: 600;
  }

  &_change__abs {
    margin-right: 5px;
  }

  &_last-update-time {
    font-size: 0.8em;
    color: rgb(155, 155, 155);
  }

  &_arrow-wrap {
    align-self: center;
  }

  &_arrow__up {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/up_arrow.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_arrow__down {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/down_arrow.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &_close-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../../assets/icons/close.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    backface-visibility: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &_numbers {
    font-size: 0.9em;
  }

  &_switch-btn {
    position: absolute;
    bottom: -5px;
    right: -7px;
    width: 55px;
    font-size: 0.7em;
    color: rgb(65, 65, 65);

    &:hover {
      cursor: pointer;
      color: rgb(155, 155, 155);
    }

    &__back {
      left: 5px;
      bottom: 2px;
      color: #9c0303;

      &:hover { 
        color: lighten($color: #ca0000, $amount: 5);
      }
    }
  }
}

.hide {
  animation-name: hideElem;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideElem {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}